li {
   list-style-type: none;
}

.servicesItem {
   position: relative;
}

.servicesItem a {
   color: #1d76e2;
   text-decoration: none;
}

.servicesItem:hover {
   text-decoration: underline;
}

.servicesList {
   display: none;
   position: absolute;
   padding-top: 30px;
   top: -10px;
   right: -50px;
   width: 150px;
   z-index: 1;
}

.servicesList li {
   color: #1d76e2;
   padding-bottom: 5px;
   font-size: 16px;
}

.servicesList li a:hover {
   font-weight: bold;
}

.servicesItem:hover .servicesList {
   display: block;
   z-index: 101;
}
/* ================== */

.servicesMenu:hover li {
   display: block;
   z-index: 100;
}

.servicesMenu .servicesMenuList{
   display: none;
   position: absolute;
   color: #1d76e2;
   font-size: 16px;
}


.servicesMenu .services .servicesList {
   position: absolute;
   padding-top: 30px;
   top: -10px;
   width: 150px;
   right: -80px;
   z-index: 1;
}
