li {
   list-style-type: none;
}
.services {
   /* border-right: 1px solid rgb(95, 95, 95);
  border-left: 1px solid rgb(95, 95, 95); */
}
.servicesItem {
   position: relative;
}

.servicesItem a {
   color: #1d76e2;
   text-decoration: none;
}

.servicesItem:hover {
   text-decoration: underline;
}

.servicesList {
   display: none;
   position: absolute;
   padding-top: 30px;
   top: -20px;
   width: 150px;
   z-index: 1;
}

.servicesList li {
   background-color: #cfcfcf;
   color: black;
   padding-bottom: 5px;
   /* padding-left: 20px;
  padding-right: 20px; */
   font-size: 16px;
   border-bottom: 1px solid white;
}

.servicesList li a:hover {
   color: white !important;
}

.servicesItem:hover .servicesList {
   display: block;
   z-index: 101;
}
/* ================== */

.servicesMenu:hover li {
   display: block;
   z-index: 100;
}

.servicesMenu .servicesMenuList {
   display: none;
   position: absolute;
   background-color: #cfcfcf;
   color: black;
   font-size: 16px;
}

.servicesMenu .servicesMenuList li {
   border: none;
   border-bottom: 1px solid white;
}

.servicesMenu .services .servicesList {
   position: absolute;
   padding-top: 30px;
   top: -10px;
   width: 150px;
   right: -80px;
   z-index: 1;
}
